/*html, body {
  height: 100%;
}
body {
  margin: 0;
}*/
.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.loginWrapper {
  width: 450px;
  height: 250px;
  margin-top: 250px;
  margin-bottom: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,.75);
  border-radius: 8px;

}
.loginWrapper:after {
/* background: url(http://ppcdn.500px.org/57161416/10bdc743b198c1e8c6d93b8fc6c0b213d868927d/2048.jpg); */
content: "";
opacity: 0.75;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1;
}
form {
width: 100%;
padding: 30px;
}
#bottom {
  margin-top: 20%;
}
.oe_website_login_container {
  margin-top: 300px;
}